{# def platform #}
{% if platform == 'linux' %}
  <IconLinux/>
{% elif platform == 'mac' %}
  <IconMac/>
{% elif platform == 'windows' %}
  <IconWindows/>
{% elif platform == 'tomb-editor' %}
  <IconTombEditor/>
{% endif %}
