<Layout title="Lost Artefacts">

<Breadcrumbs links={[
  { "title": "Home", "href": "index.html" },
]}/>

<div class="Watermark">
  <h2>Who</h2>
  <p>We are a small community of developers who share a deep love for the
  classic Tomb Raider titles. Our team is dedicated to creating and maintaining
  freeware fanmade projects that pay homage to the incredible adventures of
  Lara Croft.</p>

  <h2>Why</h2>
  <p>Lost Artefacts was born out of a recognition by the team of a significant
  issue within our community – fragmentation. It had become increasingly
  difficult for the average person to discover and keep track of the various
  projects and initiatives the fan base was working on. Moreover, these
  projects were often developed independently, resulting in a lack of
  collaboration. To address that and foster a stronger sense of teamwork among
  developers, we established Lost Artefacts. Its primary objective is to unite
  development and provide fans with clear and concise information about
  software projects that wish to be a part of this initiative.</p>

  <h2>Joining us</h2>
  <p>We're actively seeking skilled playtesters, programmers, and graphic
  designers. If you possess a keen eye to spot every secret, coding skills that
  rival Lara's resourcefulness, or an artistic vision that can bring ancient
  civilizations to life, we'd love to have you <a
  href="https://discord.gg/XTDjd3TpdF">on Discord</a>! Join our team today and
  together we can create something amazing.</p>

  <p>In addition, we welcome existing projects that wish to be a part of
  LostArtefacts. To qualify, we kindly request that any external projects
  seeking to join our initiative are hosted on GitHub and transferred to the
  LostArtefacts organization. The original maintainers will retain complete
  ownership, and all we ask is that you and your team maintain a respectful and
  positive attitude when engaging with players and other individuals.</p>
</div>
</Layout>
