<TR1XBase active='downloads'>
  <Heading level={{ 1 }}>Downloads</Heading>

  <Heading level={{ 2 }}>Latest stable version</Heading>

  <Card>
    <AssetList assets={{ last_tr1x_release.assets }} tag="tr1"/>
  </Card>

  <div class='downloads-video'>
    <Video video_url={{ last_tr1x_video }} />
  </div>

  <Heading level={{ 2 }}>Development snapshots</Heading>

  <em>
    Cutting‑edge features, but may be less stable.
  </em>

  <Card>
    <AssetList assets={{ prerelease.assets }} tag="tr1"/>
  </Card>

  <p>
    Development snapshots don't include large assets (images, music) to save
    bandwidth. Download them separately below.
  </p>

  <Card>
    <ul class='download-links bullets-inside'>
      <li><Link href="https://lostartefacts.dev/aux/tr1x/main.zip">Main assets</Link></li>
      <li><Link href="https://lostartefacts.dev/aux/tr1x/music.zip">Music files</Link></li>
      <li><Link href="https://lostartefacts.dev/aux/tr1x/trub-vanilla.zip">TR: Unfinished Business – original, no music</Link></li>
      <li><Link href="https://lostartefacts.dev/aux/tr1x/trub-music.zip">TR: Unfinished Business – fan-patched music</Link></li>
    </ul>
  </Card>

  <Heading>What's next?</Heading>
  <p>
    TR1X needs the original game's assets to run.<br/>
    <a href="{{ url_for('trx_install_guide', version='tr1') }}">Follow our installation guide</a>
    to get set up and start exploring!
  </p>

</TR1XBase>
