<TR1XBase active='features'>
<section>
  <Heading level={{ 1 }}>What is TR1X?</Heading>

  <p>
    TR1X is a lovingly rebuilt, enhanced version of the original Tomb Raider
    (1996) engine – a passion project that brings Lara's very first adventure
    into the modern age. It preserves the soul of the classic while adding
    dozens (and dozens!) of improvements, fixes, and optional tweaks. Whether
    you're a purist or an experimenter, TR1X lets you play your way.
  </p>
</section>

<section>
  <Heading level={{ 1 }}>Features at a glance</Heading>
  <ul>
    <li>Smoother UI with scaling, PS1‑style options, and improved health bars</li>
    <li>Expanded movement set (jump‑twists, somersaults, swimming, wading, TR2+ mechanics!)</li>
    <li>Full 60 FPS support; powerful photo mode</li>
    <li>Tons of bug fixes from the original game (goodbye, crashes on level end with Action key held!)</li>
    <li>Customizable controls, targeting modes, and native controller support</li>
    <li>Deep modding support with developer console, and external gameflows</li>
    <li>Linux &amp; macOS builds</li>
  </ul>

  <Showcase>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/braid.jpg') }}>Restored braid</ShowcaseItem>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/enemy_health_bar_and_scaling.jpg') }}>Enemy health bars</ShowcaseItem>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/3d_pickups.jpg') }}>3D pickups</ShowcaseItem>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/skybox.jpg') }}>Restored skyboxes</ShowcaseItem>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/draw_distance.webp') }}>Customizable draw distance</ShowcaseItem>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/console.webp') }}>Developer console</ShowcaseItem>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/free_camera.jpg') }}>Free camera</ShowcaseItem>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/ps1_ui_and_gfx.jpg') }}>PlayStation 1 UI</ShowcaseItem>
  </Showcase>
</section>

<p>
  <strong>
    Return to where it all began.<br/>
    Head over to <a href="{{url_for('tr1x_download') }}">downloads</a> and step back into Lara's very first adventure with TR1X.
  </strong>
</p>
</TR1XBase>
