{# def doc, branches, current_branch #}
<TR1XBase active="install_guide">

<TRXInstallGuide
  version="tr1"
  doc={{ doc }}
  branches={{ branches }}
  current_branch={{ current_branch }}
/>

</TR1XBase>
