{# def doc, branches, current_branch #}
<TR2XBase active="install_guide">

<TRXInstallGuide
  version="tr2"
  doc={{ doc }}
  branches={{ branches }}
  current_branch={{ current_branch }}
/>

</TR2XBase>
