<TR2XBase active='features'>
<section>
  <Heading level={{ 1 }}>What is TR2X?</Heading>

  <p>
    TR2X is a lovingly rebuilt, enhanced version of the original Tomb Raider II
    (1997) engine – a passion project that brings Lara's second adventure into
    the modern age. It stays true to the spirit of the classic while adding
    countless improvements, fixes, and optional tweaks. From Venice rooftops to
    the depths of Xian, whether you're a purist chasing nostalgia or an
    explorer eager to experiment, TR2X lets you experience Tomb Raider II your
    way.
  </p>
</section>

<section>
  <Heading level={{ 1 }}>Features at a glance</Heading>
  <ul>
    <li>Smoother UI with scaling, improved rendering</li>
    <li>No more issues with fullscreen / windowed modes</li>
    <li>Full 60 FPS support; powerful photo mode</li>
    <li>Tons of bug fixes from the original game (goodbye, crashes when killing a T-Rex with a grenade launcher)</li>
    <li>Customizable controls, targeting modes, and native controller support</li>
    <li>Deep modding support with developer console, and external gameflows</li>
    <li>Linux &amp; macOS builds</li>
  </ul>
</section>

<section>
  <Heading level={{ 1 }}>Before & After</Heading>
  <Showcase>
    <ShowcaseItem
        before={{ url_for('static', filename='tr2x/showcase/3d_pickups_before.jpg') }}
        after={{ url_for('static', filename='tr2x/showcase/3d_pickups_after.jpg') }}>
      3D pickups
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr2x/showcase/draw_distance_before.jpg') }}
        after={{ url_for('static', filename='tr2x/showcase/draw_distance_after.jpg') }}>
      Draw distances
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr2x/showcase/stats_before.png') }}
        after={{ url_for('static', filename='tr2x/showcase/stats_after.jpg') }}>
      Stats
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr2x/showcase/bars_before.png') }}
        after={{ url_for('static', filename='tr2x/showcase/bars_after.png') }}>
      Improved UI
    </ShowcaseItem>
  </Showcase>
</section>

<p>
  <strong>Ready to dive back into the depths of Lara's second adventure?<br>
  Head over to <a href="{{url_for('tr2x_download') }}">downloads</a> and gear up for TR2X.</strong>
</p>
</TR2XBase>
