{# def mac_file_tree, win_file_tree #}
<TR2XBase active="install_guide">

<Heading level={{ 1 }}>Windows / Linux</Heading>

<Heading level={{ 2 }}>Installing (simplified – Windows only)</Heading>

<ol>
  <li>Download the TR2X installer.</li>
  <li>Mark the installer EXE as safe to run:
    <ul>
      <li>Right-click on the <code>.exe</code></li>
      <li>Go to properties.</li>
      <li>Click "Unblock".</li>
    </ul>
  </li>
  <li>Run the installer and proceed with the steps.</li>
</ol>

<Note variant="info">
<p>When downloading TR2X, you might see a warning from Windows Defender, your browser, or another security tool. Modern antivirus systems use AI‑based heuristics – they flag anything uncommon or unsigned as suspicious, even if it's perfectly safe. TR2X can trigger these alerts because:</p>
<ul>
<li>It isn't signed with a costly commercial certificate.</li>
<li>It's a niche, community‑built project, so not widely recognized.</li>
<li>It's a custom build, not from the Microsoft Store.</li>
</ul>
<p>Don't worry: TR2X is open‑source, and you can inspect the code yourself on <a href="https://github.com/LostArtefacts/TRX/">GitHub</a>.</p>
</Note>

<Heading level={{ 2 }}>Installing (manual)</Heading>

<ol>
  <li>Download the TR2X zip file.</li>
  <li>Extract the zip file into a directory of your choice.<br/>
     Make sure you choose to overwrite existing directories and files.</li>
  <li>
    If installing for the first time – put your original game files into the target directory.
  </li>
</ol>

<Heading level={{ 2 }}>Verifying the installation</Heading>

<p>If you install everything correctly, your game directory should look more or less like this (click to expand):</p>

<FileTree tree={{ win_file_tree }} open_levels={{ 1 }}/>
<p><em>* Will not be present until the game has been launched.</em></p>

<Heading level={{ 2 }}>Playing the game</Heading>

<ul>
<li>To play the game, run <code>TR2X.exe</code>.</li>
<li>To play the Golden Mask expansion pack, run <code>TR2X.exe -gold</code>.</li>
</ul>

<Heading level={{ 1 }}>macOS</Heading>

<Heading level={{ 2 }}>Installing</Heading>

<ol>
<li>Download the <code>TR2X-Installer.dmg</code> installer image. Mount the image and drag TR2X to the Applications folder.</li>
<li>Run TR2X from the Applications folder. This will show you an error dialog about missing game data files. This is expected at this point, as you have not copied them in yet. However, it's important to run the app first to allow macOS to verify the app bundle's signature.</li>
<li>Find TR2X in your Applications folder. Right-click it and click "Show Package Contents".</li>
<li>Copy your Tomb Raider 2 game data files into <code>Contents/Resources</code>. (See the Windows / Linux instructions for retrieving game data from e.g. GOG.)</li>
</ol>

<Heading level={{ 2 }}>Verifying the installation</Heading>

<p>If you install everything correctly, your game directory should look more or less like this (click to expand):</p>

<FileTree tree={{ mac_file_tree }} open_levels={{ 2 }}/>
<p><em>* Will not be present until the game has been launched.</em></p>

</TR2XBase>
