<TRXBase active='features'>
<section>
  <Heading level={{ 1 }}>What is TRX?</Heading>

  <p>
    TRX is a lovingly rebuilt, enhanced version of the original Tomb Raider I
    and II engine – a passion project that brings Lara's very first adventure
    into the modern age. It preserves the soul of the classic while adding
    dozens (and dozens!) of improvements, fixes, and optional tweaks. Whether
    you're a purist or an experimenter, TRX lets you play your way.
  </p>
</section>

<section>
  <div class='left-right'>
    <div class='expand'>
      <Heading level={{ 2 }}>Features at a glance</Heading>
      <ul>
        <li>Smoother UI with scaling, PS1‑style look, improved bars</li>
        <li>Expanded TR1 movement set (jump‑twists, somersaults, swimming, wading, TR2+ mechanics!)</li>
        <li>No more issues with fullscreen / windowed modes / aspect ratios or need for dgVoodoo</li>
        <li>Full 60 FPS support</li>
        <li>Powerful photo mode</li>
        <li>Countless bug fixes from the original game</li>
        <li>Customizability of just about anything</li>
        <li>Deep modding support with developer console, external gameflows, and LUA scripting</li>
        <li>Native controller support</li>
        <li>Native Linux &amp; macOS builds</li>
      </ul>
    </div>

    <div class='expand'>
      <Heading level={{ 2 }}>Games supported</Heading>
      <ul>
        <li>Tomb Raider I (1996)</li>
        <li>Tomb Raider I: Unfinished Business</li>
        <li>Tomb Raider II (1997)</li>
        <li>Tomb Raider II: The Golden Mask</li>
      </ul>
      <p>…with support for Tomb Raider III under active development</p>
    </div>
  </div>

  <Showcase>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/console.webp') }}>Developer console</ShowcaseItem>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/free_camera.jpg') }}>Free camera</ShowcaseItem>
    <ShowcaseItem image={{ url_for('static', filename='tr1x/showcase/ps1_ui_and_gfx.jpg') }}>PlayStation 1 UI</ShowcaseItem>

    <ShowcaseItem
        before={{ url_for('static', filename='tr2x/showcase/3d_pickups_before.jpg') }}
        after={{ url_for('static', filename='tr2x/showcase/3d_pickups_after.jpg') }}>
      3D pickups
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr1x/showcase/braid_before.jpg') }}
        after={{ url_for('static', filename='tr1x/showcase/braid_after.jpg') }}>
      Restored braid
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr1x/showcase/skybox2_before.jpg') }}
        after={{ url_for('static', filename='tr1x/showcase/skybox2_after.jpg') }}>
      Restored skyboxes
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr1x/showcase/texture_fixes_before.jpg') }}
        after={{ url_for('static', filename='tr1x/showcase/texture_fixes_after.jpg') }}>
      Texture fixes
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr2x/showcase/draw_distance_before.jpg') }}
        after={{ url_for('static', filename='tr2x/showcase/draw_distance_after.jpg') }}>
      Draw distances
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr1x/showcase/stats_before.png') }}
        after={{ url_for('static', filename='tr1x/showcase/stats_after.jpg') }}>
      Stats
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr1x/showcase/bars_before.png') }}
        after={{ url_for('static', filename='tr1x/showcase/bars_after.png') }}>
      Improved UI
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr1x/showcase/water_color_before.jpg') }}
        after={{ url_for('static', filename='tr1x/showcase/water_color_after.jpg') }}>
      Customizable water color
    </ShowcaseItem>
    <ShowcaseItem
        before={{ url_for('static', filename='tr1x/showcase/reflections_before.jpg') }}
        after={{ url_for('static', filename='tr1x/showcase/reflections_after.jpg') }}>
      Reflections
    </ShowcaseItem>
  </Showcase>
</section>

<p>
  <strong>
    Return to where it all began.<br/>
    Head over to <a href="{{url_for('trx_download') }}">downloads</a> and jump back into Lara’s early journeys with TRX.
  </strong>
</p>
</TRXBase>
