{# def before, after #}
<div class="ba-slider">
  <img src='{{ before }}' alt="After" />
  <div class="resize">
    <img src='{{ after }}' alt="After" />
  </div>
  <span class="handle"></span>
</div>
