{# def release #}
{% set unique_id = unique_id() %}
<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary dropdown-toggle" popovertarget="{{ unique_id }}">
    Download
  </button>
  <div class="dropdown-menu" popover id="{{ unique_id }}">
    <strong>TR1:</strong>
    <AssetList assets={{release.assets}} tag='tr1'/>
    <strong>TR2:</strong>
    <AssetList assets={{release.assets}} tag='tr2'/>
  </div>
</div>
