<footer>
  <div class="outer-container footer-wrapper">
    <div>
    Built by the Lost Artefacts team and the community.<br/>
    Tomb Raider is © Core Design / Crystal Dynamics.<br/>
    All projects are work of fans and are not affiliated with the rights holders.
    </div>

    <div class='socials-wrapper'>
      Follow us:<br/>
      <div class='socials'>
        <span class="social">
          <a href='{{ socials.discord }}'>
            <IconDiscord/>
          </a>
        </span>
        <span class="social">
          <a href='{{ socials.github }}'>
            <IconGitHub/>
          </a>
        </span>
        <span class="social">
          <a href='{{ socials.youtube }}'>
            <IconYouTube/>
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
