<Layout wide={{ true }} active="home">
  <section class="hero left">
    <div class="hero-content-image" style="background-image: url('{{ url_for('static', filename='trx_hero.webp') }}')"></div>
    <div class="hero-content-wrapper">
      <div class="hero-content">
        <a href="{{ url_for('trx_landing') }}"><img class="logo" src="{{ url_for('static', filename='trx_logo.png') }}"></a>
        <p>Open-source reimplementation of Tomb Raider I and Tomb Raider II with modern enhancements and countless bug fixes.</p>
        <h2>Key Features</h2>
        <ul>
          <li>Smooth 60 FPS and modern rendering</li>
          <li>Rich settings and improved UI</li>
          <li>Photo mode</li>
          <li>Restored content</li>
          <li>Expanded movesets</li>
          <li>Developer console and debugging commands</li>
          <li>LUA scripting</li>
          <li>Cross platform</li>
        </ul>

        <div class='btn-group'>
          <DownloadButton release={{prerelease}}/>{#
          #}<a href="{{ url_for('trx_landing') }}" role="button" class="btn btn-outline-primary">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</Layout>
