{# def variant #}
<div class="note {{ variant }}">
  {% set icon, title = {
      'warning':   ('IconDanger', 'Warning'),
      'info':      ('IconInfo', 'Note'),
      'caution':   ('IconStop', 'Caution'),
      'important': ('IconMessageExclamation', 'Important'),
      'tip':       ('IconLightbulb', 'Tip'),
    }.get(variant, (None, None))
  %}
  {% if icon or title %}
    <div class='header'>
      {% if icon %}
        {{ catalog.irender(icon) }}
      {% endif %}
      {% if title %}
        <span>
          {{ title }}
        </span>
      {% endif %}
    </div>
  {% endif %}
  <div class='content'>
    {{ content }}
  </div>
</div>

