<Layout active="rando">
<Heading level={{ 1 }}>TR Rando</Heading>

<p>TR Rando is a powerful randomizer tool for the classic Tomb Raider series (Tomb Raider I–III, Unfinished Business) and Tomb Raider I–III Remastered. With just a few clicks, you can remix your favorite adventures:</p>

<ul>
<li>Shuffle level order for a fresh journey</li>
<li>Randomize pickups, secrets, and enemies</li>
<li>Change Lara's appearance and gear</li>
<li>Tweak in‑game text and surprises</li>
…and so much more.
</ul>

<p>Rediscover these iconic games in ways you've never imagined. Every run is a new adventure waiting to unfold!</p>

<ul>
<li><Link href='https://github.com/lostartefacts/tr-rando/releases/latest'>Download</Link></li>
<li><Link href='https://github.com/lostartefacts/tr-rando'>GitHub repository</Link></li>
<li><Link href='https://github.com/lostartefacts/tr-rando/tree/master/CHANGELOG.md'>Changelog</Link></li>
</ul>

<Heading level={{ 1 }}>Showcase</Heading>

<Showcase>
  <ShowcaseItem image={{ url_for('static', filename='rando/tr1_showcase1.jpg') }}>TR1 Rando - Caves</ShowcaseItem>
  <ShowcaseItem image={{ url_for('static', filename='rando/tr1_showcase2.jpg') }}>TR1 Rando - Tomb of Qualopec</ShowcaseItem>
  <ShowcaseItem image={{ url_for('static', filename='rando/tr2_showcase1.jpg') }}>TR2 Rando - Great Wall</ShowcaseItem>
  <ShowcaseItem image={{ url_for('static', filename='rando/tr2_showcase2.jpg') }}>TR2 Rando - Floating Islands</ShowcaseItem>
  <ShowcaseItem image={{ url_for('static', filename='rando/tr3_showcase1.jpg') }}>TR3 Rando - Temple Ruins</ShowcaseItem>
  <ShowcaseItem image={{ url_for('static', filename='rando/tr3_showcase2.jpg') }}>TR3 Rando - Crash Site</ShowcaseItem>
</Showcase>

<Heading level={{ 1 }}>Features</Heading>
<p>The randomizer can mix-up many aspects of the original levels, creating a unique experience each playthrough. All settings are optional, so the outcome can be tailored to player preference.</p>

<Heading level={{ 3 }}>Items</Heading>
<ul>
<li>Change the location and type of each pickup item</li>
<li>Key item locations can also be randomized for an additional challenge</li>
<li>Create a one-item mode challenge, where a maximum of one of each pickup type will spawn per level</li>
<li>Alter pickup appearance so you don't know what you're picking up each time</li>
</ul>

<Heading level={{ 3 }}>Secrets</Heading>
<ul>
<li>Change the location of each secret (TR1 and TR3 use artefact pickups, similar to TR2)</li>
<li>Choose between easy and hard mode and optionally include locations that require glitch knowledge</li>
<li>Change the number of secrets per level in TR1 and TR3</li>
<li>Randomize the rewards you receive for collecting all secrets</li>
</ul>

<Heading level={{ 3 }}>Enemies</Heading>
<ul>
<li>Switch up the enemy types that appear in each level</li>
<li>Filter out certain enemies according to preference</li>
<li>Use a cloned enemy mode for an extra challenge in TR1</li>
</ul>

<Heading level={{ 3 }}>Lara</Heading>
<ul>
<li>Change Lara's outfit</li>
<li>Randomly add or remove Lara's braid</li>
<li>Make Lara invisible</li>
<li>Change Lara's starting position in the level</li>
</ul>

<Heading level={{ 3 }}>Audio</Heading>
<ul>
<li>Change triggered music tracks</li>
<li>Change ambient music</li>
<li>Randomize the majority of sound effects</li>
<li>Optionally apply pitch randomization to all sound effects</li>
</ul>

<Heading level={{ 3 }}>Visuals</Heading>
<ul>
<li>Change various textures, from the skybox right down to to the colour of Lara's socks</li>
<li>Choose to play levels at night, or to use the sunset effect in TR2 to gradually darken the level</li>
<li>Choose various visual effects in TR3 such as vertex colouring and wave movement</li>
</ul>

<Heading level={{ 3 }}>Environment</Heading>
<ul>
<li>Change water levels</li>
<li>Move keyholes, levers, and switches</li>
<li>Randomize trap locations</li>
<li>Add extra puzzle and challenge rooms</li>
<li>Play mirrored levels</li>
</ul>

<Heading level={{ 3 }}>Gameplay</Heading>
<ul>
<li>Change the order in which levels are played</li>
<li>Change the number of levels to play in a game</li>
<li>Change inventory text such as weapon and key names - includes 13 language options</li>
</ul>

</section>
</Layout>
