{# def image=None, before=None, after=None #}
<li>
  {% if image %}
    <a href='{{ image or after }}'>
      <img src='{{ image }}' alt='{{ content }}'/>
      <span class='label'>{{ content }}</span>
    </a>
  {% else %}
    <BeforeAfter before={{ before }} after={{ after }}/>
    <a href='{{ image or after }}'>
      <span class='label'>{{ content }}</span>
    </a>
  {% endif %}
</li>
